<div style="width: {{ field_props.size|default('100') }}%">
	<input type="number" class="inputbox" id="smc-{{ field_name }}" name="{{ field_name }}" step="{{ field_props.step }}"{% if field_props.min %} min="{{ field_props.min }}"{% endif %}{% if field_props.max %} max="{{ field_props.max }}"{% endif %} value="{{ field_value }}" />
</div>